    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    @font-face {
        font-family: 'GeForce Bold';
        src: url('../font/GeForce-Bold.eot');
        src: url('../font/GeForce-Bold.eot?#iefix') format('embedded-opentype'), url('../font/GeForce-Bold.woff') format('woff'), url('../font/GeForce-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gamingwallpaper1.jpg);
        background-repeat: no-repeat;
        /*z-index: -2;*/
        background-position: center center;
        background-size: 100% 100%;
        background-attachment: fixed;
        position: relative;
    }
    
    .titleground {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 20px 20px 120px;
    }
    
    @media(max-width:800px) {
        .titleTMtest {
            margin-bottom: 100px;
        }
    }
    
    .stepscontainer {
        display: flex;
        flex-direction: row;
        width: 65%;
        margin: auto;
    }
    
    .stepbutton {
        padding: 15px;
        width: 150px;
        border-radius: 50%;
        font-family: geForce bold;
        border: 2px solid orange;
        color: white;
        margin: auto;
        font-size: 20px;
        z-index: -100;
    }
    
    .coll1 {
        height: 100px;
        width: 33.333%;
        /* border: 1px solid red; */
        text-align: center;
    }
    
    #nodisplay {
        width: 33.33%;
    }
    
    @media (max-width:800px) {
        .stepscontainer {
            flex-direction: column;
            width: 100%;
            margin: auto;
        }
        .coll1 {
            width: 100%;
            margin: auto;
        }
        body {
            margin-top: 10px;
        }
        #nodisplay {
            display: none;
        }
    }
    
    #Experience {
        margin-left: auto;
        line-height: 55px;
        font-size: 45px;
        margin-top: 50px;
        text-align: center;
        font-family: 'montserrat', 'sans-serif';
        font-weight: bolder;
        color: orange;
    }
    
    .maincontain {
        display: flex;
        flex-direction: row;
        width: 60%;
        height: auto;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .coll2 {
        height: auto;
        width: 33.33%;
        padding-top: 20px;
        position: relative;
    }
    
    @media(max-width:800px) {
        .maincontain {
            flex-direction: column;
            width: 100%;
            margin: auto;
        }
        .coll2 {
            width: 100%;
            margin: auto;
        }
        #Experience {
            font-size: 30px;
        }
    }
    
    .imagehover {
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .middle {
        transition: .5s ease;
        opacity: 0;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    
    .text {
        background-color: rgba(255, 165, 0, 0.4);
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }
    
    .coll2:hover .imagehover {
        opacity: 0.4;
    }
    
    .coll2:hover .middle {
        opacity: 1;
    }
    
    input[type=radio] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    
    input[type=radio]:checked+label:after {
        background-color: orange;
    }
    
    .Container60p {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 60%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .coll-4 {
        width: 33.33%;
        text-align: center;
        position: relative;
    }
    
    .coll-4:hover .imagehover {
        opacity: 0.4;
    }
    
    .coll-4:hover .middle {
        opacity: 1;
    }
    
    .screensize-button {
        padding: 20px;
        background-color: orange;
        font-size: 24px;
        color: white;
        border-radius: 10px;
        width: 80%;
        margin: auto;
        margin-top: 30px;
        background: linear-gradient(rgba(255, 165, 0, 0.2), rgba(255, 165, 0, 0.7));
    }
    
    @media(max-width:800px) {
        .Container60p {
            flex-direction: column;
            width: 100%;
        }
        .coll-4 {
            width: 100%;
        }
        .screensize-button {
            font-size: 18px;
            width: 50%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    
    .Container60p input[type="radio"] {
        display: none;
    }